body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.enigma {
    text-align: center;
    padding: 20px;
    width: 300px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);

}

.cifra {
    color: #ffffff;
    font-family: Maquina; 
}

#Cesar {
    color: #ffffff;
    font-family: Maquina;
    font-size: 1.5rem;
}

#contador p {
    font-family: Contador;
    font-size: 2rem;
    color: #ffffff;
}